* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: "#F55050";
}

a {
  color: inherit;
  text-decoration: none;
}
